
#navbarNav{
    display: flex;
    justify-content: center;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    border-radius: 50%;
    height: 30em;
}

.row {
    margin-top: 20px;
}